
.icon-mail:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */