{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
	<section>
		<div class="about">
			<header>
				<h1>Witaj w moim świecie programowania</h1>
				<p style="font-size: 22px; font-style: italic;">
				"Talk is cheap. Show me the code" - Linus Torvalds
				</p>
			</header>

			<div class="author-frame">
				<div class="author-img">
					<figure>
						<a hfref="#"><img src="{% static 'blog/python.jpg' %}" alt="Wiktor"></a>
					</figure>
				</div>

				<div class="author-text">
					<h2>Kilka słów o autorze</h2>
					<p>
						Witaj, bardzo dziękuje, że odwiedziłeś moją stronę, pozwól mi, że się przedstawię. 
						Nazywam się Wiktor Witkowski. Obecnie pracuje w branży IT i zajmuje się wsparciem jednej z aplikacji używanej przez mojego pracodawcę. 
						Oprócz samego wsparcia, piszę pomocnicze skrypty, w języku Python, które poprawiają dane wprowadzane do aplikacji. 
						Pracuje także z technologią Power BI, która służy do wizualizowania danych. 
						Aby wizualizacja była możliwa korzystam z bazy danych postawionej w środowisku Azure oraz z SQL Server Management Studio. 
						Moje hobby to programowanie, a Python jest moją ulubioną technologią. 
						Chętnie jednak uczę się nowych rzeczy. 
						Obecnie biorę udział w Szkole Dobrego Kodu – gdzie uczę się zagadnień tj:, 
						testy jednostkowe i automatyczne, programowanie i wzorce obiektowe oraz pryncypia SOLID.
					</p>
				</div>	
			</div>
		</div>
	</section>

	<section id="projects">
		<div class="projects-list">
			<header>
				<h1>Lista Projektów</h1>
				<p>
				Drogi widzu bardzo cieszę się, ze tu jesteś i poświęcasz czas na obejrzenie moich projektów.
				Poniżej znajduje się lista, z krótkim opisem. Kliknij w poszczególny link aby poznać detale.
				</p>
			</header>
			{% for post in posts %}
			<div class="projekt">
				<div class="projekt-img">
					<div class="overlay">
						<a href="{% url 'post_details' pk=post.pk %}"><img src="{{ post.image.url }}" alt="logo"></a>
						<a class="link" href="{% url 'post_details' pk=post.pk %}">
							<span class="icon"><i class="icon-plus"></i></span>
						</a>
					</div>
				</div>

				<div class="projekt-text">
					<a href="{% url 'post_details' pk=post.pk %}" class="projlink"><h2>{{ post.title }}</h2></a>
					<p>{{ post.description }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}