{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
	<section>
		<div class="about">
			<header>
				<h1>Witaj w moim świecie programowania</h1>
				<p style="font-size: 22px; font-style: italic;">
				"Talk is cheap. Show me the code" - Linus Torvalds
				</p>
			</header>

			<div class="author-frame">
				<div class="author-img">
					<figure>
						<a hfref="#"><img src="{% static 'blog/python.jpg' %}" alt="Wiktor"></a>
					</figure>
				</div>

				<div class="author-text">
					<h2>Kilka słów o autorze</h2>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Nulla finibus commodo ipsum, non dapibus risus porta nec. 
					Phasellus consectetur porta justo, eu pellentesque ante finibus ac. 
					Sed aliquet fringilla velit, et mattis ex rutrum eget. 
					Fusce ultricies sem sed libero luctus, ac varius ante tempor. 
					Nulla ut velit nec sem maximus efficitur. 
					Aliquam congue dapibus est quis dictum. 
					Suspendisse lacinia mauris vitae purus aliquam, et vehicula nulla maximus. Nullam vulputate felis id tellus convallis auctor. 
					Cras pellentesque dui ac enim pulvinar, sit amet elementum massa suscipit. Morbi mollis lacus eu metus eleifend, vel fermentum diam rhoncus. Suspendisse ullamcorper efficitur lectus, vel tincidunt nibh finibus non. 
					Phasellus dapibus felis et tortor mollis, id tempus sapien posuere.
					</p>
				</div>	
			</div>
		</div>
	</section>

	<section id="projects">
		<div class="projects-list">
			<header>
				<h1>Lista Projektów</h1>
				<p>
				Drogi widzu bardzo cieszę się, ze tu jesteś i poświęcasz czas na obejrzenie moich projektów.
				Poniżej znajduje się lista, z krótkim opisem. Kliknij w poszczególny link aby poznać detale.
				</p>
			</header>
			{% for post in posts %}
			<div class="projekt">
				<div class="projekt-img">
					<img src="{{ post.image.url }}" alt="logo">
				</div>

				<div class="projekt-text">
					<a href="#" class="projlink"><h2>{{ post.title }}</h2></a>
					<p>{{ post.description }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}